name: Hugo Build and Deploy

on:
  push:
    branches: ["master"]
  workflow_dispatch:

# Ключевое изменение - добавляем permissions
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"
          extended: true

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        env:
          # Можно использовать env вместо with для некоторых настроек
          ACTIONS_DEPLOY_KEY: ${{ secrets.GITHUB_TOKEN }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          keep_files: false  # очищать папку при деплое
