name: Deploy to Custom Domain

on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.128.0'
          extended: true
      
      - name: Build
        run: hugo --minify --baseURL "https://sale.okolotattooing.ru/"
      
      # Проверяем создание CNAME
      - name: Verify CNAME
        run: |
          echo "sale.okolotattooing.ru" > ./public/CNAME
          cat ./public/CNAME
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages
          cname: sale.okolotattooing.ru
          keep_files: false
